@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.mapChart {
  // padding-top: 24px;
  height: 628px;
  text-align: center;
  
  img {
    display: inline-block;
    max-width: 100%;
    max-height: 450px;
  }

  .myMap{
    display: inline-block;
    width: 100%;
    height: 628px;
  }
}

.headers{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;


}
.chart{
  display: block;
  width:50%;
  height: 50%;
  max-width: 160px;
}
.header{
  // width: 100%;
  display: flex;
  justify-content: center;
  // padding-right: 10px;
  align-items: center;
  // line-height: 40px;
  height: 40px;
  // margin-bottom: 20px;
}

.headerleft{
  // width: 100%;
  display: flex;
  justify-content: center;
  // padding-right: 10px;
  align-items: center;
  height: 40px;
  // margin-bottom: 20px;
}
.headerright{
  display: flex;
  justify-content: center;
  // padding-right: 10px;
  align-items: center;
  // line-height: 40px;
  height: 40px;
}
.headermiddle{
  // width: 100%;
  display: flex;
  justify-content: center;
  // padding-right: 10px;
  align-items: center;
  height: 40px;
  // margin-bottom: 20px;
}
.pieCard :global(.pie-stat) {
  font-size: 24px !important;
}

@media screen and (max-width: @screen-lg) {
  .mapChart {
    height: auto;
  }
}
.wellInfoItem{
  width: 100%;
  // font-size: 16px;
  height:36px;
  // line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.minibar{
  position: relative;
  flex-grow: 1;
}
.status{
width: 100%;
  display: flex;
  flex-grow: 0;
  justify-content: space-around;
}

.wave{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wave>div{

  width: 50%;
}

.btnDIV{
display: flex;
justify-content: center;
align-items: center;
color: #fff;
height: 32px;
position: relative;
background-color:#1890FF;
border: 1px solid #1890FF;
border-radius: 3px;
}

.btnDIV:after {
    content: "";
    display: block;
    position: absolute;
    //扩大伪类元素4个方向各10px
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    pointer-events: none;
    background-color:#1890FF;
    border: 1px solid #1890FF;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0;
    transition: all .3s;
}

.btnDIV:active:after {
    opacity: .3;
    //设置初始状态
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0s;
}
.btnDIV:hover{
background-color:rgb(24, 182, 255);
border: 1px solid rgb(24, 182, 255);
}
.number{
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, 0)
}